/* reset and normalize + fonts*/
@import 'default.css';
@import url('https://fonts.googleapis.com/css?family=Cantarell');

/* Grid styles */

#layout {
    display: grid;
    grid: 
    "header-content header-content header-content" 20vh 
    ". main-content ." auto 
    ". footer-content ." 12vh 
    / 10vw 80vw 10vw;
}

#header-content {
    grid-area: header-content;
}

#main-content {
    grid-area: main-content;
}

#footer-content {
    grid-area: footer-content;
}

/* container flex styles */

#footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    display: flex;
    flex-flow: row wrap;
    background-color: #F0F0F0FF;
    justify-content: space-between;
    border-radius: 5px;
    margin: 0.2em 0;
    padding: 1em;
}

/* header styles */

header {
    background: url('images/background-header.jpg') center center;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 20vh;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
}

/* main styles */

main {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;

}

#conteudoprincipal {
        text-align: justify;
        padding: 0 2vh;
}

main p {
    padding: 0 10px;
}

#zerotwo {
    float: left;
    width: 230px;
    height: 350px;
}

#aside-content {
    display: flex;
    flex-flow: column wrap; 
    border: 1.5px solid #353535FF;
    border-radius: 5px;
    padding: 3px;
    flex: 0 1 15vw;
}

/* footer styles */

#footer-content {
    background-color: #353535FF;
}

footer {
    color: white;
    font-family: Verdana, serif;
}

#socialmedia {
    display: flex;
    flex-flow: row wrap;
    margin: 0 1vh;
}

#sociallink {
    width: 5vh;
    margin: 0 .5vh;
}

/* geral styles */

p {
    font-family: 'Cantarell', sans-serif;
    text-align: justify;
    margin: 1px 3px;
    display: inline;
}

h1 {
    display: flex;
    font-family: 'Sue Ellen Francisco', Helvetica, Sans-serif;
    color: #00FF7FFF;
    font-size: 4.5em;
}





